.image {
  width: 20vw;
  height: 20hv;
}
.post {
  margin-top: 60px;
  color: white;
  background-color: rgb(56, 57, 58);
  border: solid rgb(206, 20, 20);
  width: 40vw;
  height:50vh;
  margin-top: 60px;
  color: white;
  background-color: rgb(56, 57, 58);
  border: solid black;
}

.Title {
  display: flex;
  justify-content: center;
  color:  rgb(56, 58, 58);
  font-size: 20px;
text-shadow: 2px 2px red;
  color:  rgb(56, 57, 58);
  font-size: 86px;
  margin-bottom: 10%;
}


body{
  background-color: aqua;
  background-image: url("../../../Barb.png");
  background-repeat: no-repeat;
  

}





