.image {
  width: 20vw;
  height: 20hv;
}
.post {
  margin-top: 60px;
  color: white;
  background-color: rgb(56, 57, 58);
  border: solid black;
  width: 40vw;
  height:50vh;
  display: content;
  flex-wrap: center;
  justify-content: center;
  border-radius: 10px;
}

.title {
  display: flex;
  justify-content: center;
  color:  rgb(56, 57, 58);
  font-size: 86px;
  margin: 10%
}
/* body {
  margin: 0;
  padding: 0;
}


.image {
  width: 20vw;
  height: 30vh;
}

.post {
 
  
  background-color: gray;
  border: solid white;
  width: 40vw;
  height:50vh;
  display: content;
  flex-wrap: center;
  justify-content: center;
  
}
*/
