.menu-item{
  color: white;
}

Link {
  text-decoration: none;
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.logo{
  font-size: 2rem;
  color: white;
}

.countryMap{
  color: white;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: gray;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(56, 57, 58);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0px;
  left: 0px;
}