body {
  display:flex;
  flex-direction:row;
  justify-content: center;
  font-family: sans-serif;
  background-size: 50%;
} 
.itle { 
  color: Black;
}


.form {
  margin-left: 0%;
  margin-top: 60px;
  color: white;
  /* background-color: rgb(56, 57, 58); */
  border: solid black;
  width: 40vw;
  height:50vh;
  background-image: url("../../../abstract-planet-against-background-flags-world_476363-2827.avif");
  background-repeat: no-repeat;
  background-position: center;
  /* display: content; */
  /* flex-wrap: center; */
  /* justify-content: center; */
  border-radius: 10px;
}


input {
  display: block;
  display: flex;
  justify-content:center;
  margin-top: 15vh;
  margin-bottom: 1vh;
  margin-left: 33%; 
}

input[type="text"], input[type="password"] {
  width: 200px;
  text-align: center;
}

/* .form {
  margin-bottom: 900px;
} */

.button1 {

  /* margin-top: 10%;
  margin-left: 20px; */
} 

.button2 {
  /* margin-right: 200px;
  margin-top: 20px; */
}
