.bodycreate {
    /* background-color: rgba(51, 201, 243, 0.881); */
    width: 90vw; 
    /* margin-left: 30%;
    margin-right: 30%; */
    margin: 0 auto; 
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    vertical-align: 0 auto;
    padding-top: 10vh;
    
}

.title{
    /* text-shadow: 2px 2px rgb(90, 6, 6);
    color: white; */
    color: white;
    font-family:'Nanum Brush Script', cursive;
    filter: drop-shadow(8px 8px 4px black);
    font-size: 86px;
}

.postbody{
   background-image: url("../Home/chim.jpg");
   background-repeat: no-repeat;
   height: 100vh;
   width: 100vw; 
   background-size:100% 100% ;
    
}
.create-form{
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    height: 3vh;
    text-align: center; 
    width: 40vw; 
}

.countryAndCalendar {
    margin-bottom: 10px;
    height: 3vh;
    text-align: center;  
    width: 40vw; 

}

.create-Post {
    height: 3vh;
    width: 10vh;
    margin: 0 auto;     
}