.bodycreate {
margin-left: 30%;
margin-right: 30%;
height: 50vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.title{
    color: white;
  font-family:'Nanum Brush Script', cursive;
  filter: drop-shadow(8px 8px 4px black);
  margin-top: 400px;
  font-size: 86px;
}

.postbody{
    background-image: url("../Home/chim.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.create-form{
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
    max-height: 10vh;
    max-width: 50vw;
}

select {
    margin: 10px;
    max-height: 10vh;
    max-width: 50vw; 
}

button {
    max-height: 20vh;
    max-width: 10vh;
    display: flex;
    justify-content: center;
}
